Repository WitchesOfThePlanes/CompassOfWomanhood, pull requests merged in 2023-01, with the labels that each got.

#21 [General] .tra-completeness check
  .github/workflows/check-tra.yaml
  .gitignore
  ModTests/test_tra_strings.py
  ModTools/tra_utils.py
Labels: general

#26 [FEATURE] Update favicon
  LandingPage/public/android-chrome-192x192.png
  LandingPage/public/android-chrome-512x512.png
  LandingPage/public/apple-touch-icon.png
  LandingPage/public/favicon-16x16.png
  LandingPage/public/favicon-32x32.png
  LandingPage/public/favicon.ico
  LandingPage/public/safari-pinned-tab.svg
  LandingPage/src/features/HeroPage.vue
Labels: landing page

#24 [SHITHRI] Shithri's drink/bottle item
  CompassOfWomanhood/creatures/shithri/6WSHIT08.cre
  CompassOfWomanhood/creatures/shithri/6WSHIT09.cre
  CompassOfWomanhood/creatures/shithri/6WSHIT10.cre
  CompassOfWomanhood/creatures/shithri/6WSHIT11.cre
  CompassOfWomanhood/creatures/shithri/6WSHIT13.cre
  CompassOfWomanhood/creatures/shithri/6WSHIT15.cre
  CompassOfWomanhood/creatures/shithri/6WSHIT25.cre
  CompassOfWomanhood/items/shithri/_6WDRINK.itm
  CompassOfWomanhood/lib/shithri.tpa
  CompassOfWomanhood/translations/en_US/shithri.tra
  CompassOfWomanhood/translations/pl_PL/shithri.tra
Labels: shithri

#27 [LandingPage] update github url
  LandingPage/.env
Labels: landing page

#28 [LandingPage] Mobile navigation
  LandingPage/package.json
  LandingPage/src/App.vue
  LandingPage/src/assets/locale/en_US.json
  LandingPage/src/assets/locale/pl_PL.json
  LandingPage/src/assets/logo-small.png
  LandingPage/src/assets/logo.png
  LandingPage/src/components/AppFooter.vue
  LandingPage/src/components/MobileNavMenu.vue
  LandingPage/src/components/menu/MobileNavMenu.vue
  LandingPage/src/components/menu/NavMenu.vue
  LandingPage/src/components/menu/links.config.ts
  LandingPage/src/components/menu/nav-menu.composable.ts
  LandingPage/src/features/HeroPage.vue
  LandingPage/src/plugins/vuetify.ts
  LandingPage/src/utils/intersect.composable.ts
  LandingPage/vite.config.ts
  LandingPage/yarn.lock
Labels: landing page

#29 [General] refactor .tra-completeness
  .github/workflows/check-tra.yaml
  ModTests/test_tra_strings.py
  ModTools/tra_tools.py
Labels: general
